fastapi
uvicorn
pydantic
pyswisseph
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
sqlalchemy
psycopg2-binary
httpx
python-dotenv
pytz
pandas
astropy
PyJHora
jyotishganit

kerykeion
flatlib
openai
